.col1{
    background: rgb(235, 109, 109);
}

.col2{
    background: rgb(90, 190, 221);
}

.col3{
    background: rgb(90, 221, 156);
}

.col4{
    background: rgb(186, 221, 90);
}


.col5{
    background: rgb(221, 180, 90);
}



