<main class="container">

<table class="table table-striped table-hover" >
    <thead class="table-dark">
            <tr>
                <th >ID</th>
                <th>NAME</th>
                <th>GENDER</th>
            </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let detail of student; let i = index "[ngClass]="{'col1': i%5==0, 'col2': i%5==1, 'col3': i%5==2,'col4': i%5==3,'col5': i%5==4}" >
            <td >{{detail.id}}</td>
            
            <td>{{detail.name}}</td>
            
            <td>{{detail.gender}}</td>
            

        </tr>
    </tbody>
</table>
</main>
<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>



<div style="margin: auto; width: 8%; border: 3px solid green; padding:10px">
  <select [(ngModel)]="selectedvalue">
    <option *ngFor="let detail of student" [ngValue]="detail">
      {{ detail.name }}
    </option>
  </select>
  

  <p *ngIf="selectedvalue">
     ID : {{ selectedvalue.id }}, NAME : {{
      selectedvalue.name
    }}, GENDER : {{ selectedvalue.gender }}
  </p>
</div>

<app-colour></app-colour>

