<main class="container">

<table class="table table-striped table-hover" >
    <thead class="table-dark">
            <tr>
                <th >ID</th>
                <th>NAME</th>
                <th>GENDER</th>
            </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let detail of student; let i = index " >
            <td *ngIf="i%5 ==0" class="col1">{{detail.id}}</td>
            <td *ngIf="i%5 ==1" class="col2">{{detail.id}}</td>
            <td *ngIf="i%5 ==2" class="col3">{{detail.id}}</td>
            <td *ngIf="i%5 ==3" class="col4">{{detail.id}}</td>
            <td *ngIf="i%5 ==4" class="col5">{{detail.id}}</td>
            <td *ngIf="i%5 ==4" class="col5">{{detail.name}}</td>
            <td *ngIf="i%5 ==4" class="col5">{{detail.gender}}</td>
            <td *ngIf="i%5 ==3" class="col4">{{detail.name}}</td>
            <td *ngIf="i%5 ==3" class="col4">{{detail.gender}}</td>
            <td *ngIf="i%5 ==2" class="col3">{{detail.name}}</td>
            <td *ngIf="i%5 ==2" class="col3">{{detail.gender}}</td>
            <td *ngIf="i%5 ==1" class="col2">{{detail.name}}</td>
            <td *ngIf="i%5 ==1" class="col2">{{detail.gender}}</td>
            <td *ngIf="i%5 ==0" class="col1">{{detail.name}}</td>
            <td *ngIf="i%5 ==0" class="col1">{{detail.gender}}</td>

        </tr>
    </tbody>
</table>
</main>
<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

<div style="margin:auto; width: 50%; border:3px solid green;">
    <select [(ngModel)]="selectedvalue">
      <option *ngFor="let detail of student" [value]="detail.id" >
        {{detail.name}}
        
      </option>
    </select>
  
    <br>
    selected value is {{selectedvalue}}
    <br>
   
  </div> 







